*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(255 255 255);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav span{
    display: flex;
}

.nav img{
    margin-left:2vw ;
    width: 5vw;
    margin-top: 1vw;
    margin-right: 1vw;
}

.nav input{
    border: 0.1vw solid #cf87a396; 
    border-radius: 25VW;
    height: 4vh;
    width: 70vh;
    margin-right: 20vh;
    margin-top: 2vh;
    background: #ffffff;
    color: rgb(0, 0, 0);
    padding: 1vw;
}


.nav .Explore{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    margin-right: 3vw;
    height: 2vw;
    width: 28vw;
    margin-left: -15vw;   
}

